---
name: Continuous Integration

on:
  push:
    branches: [develop]
  pull_request:
    branches:
      - "*"
  schedule:
    - cron: "59 23 * * *"
  workflow_dispatch:
    inputs:
      version:
        description: Manual CI Run
        default: test
        required: false

jobs:
  tests:
    name: ${{ matrix.os }}, ${{ matrix.environment-file }}
    runs-on: ${{ matrix.os }}
    timeout-minutes: 60
    strategy:
      matrix:
        os: [ubuntu-latest]
        environment-file: [
          py311_pmedm_legacy_min,
          py311_pmedm_legacy_latest,
          py312_pmedm_legacy_latest,
          py312_pmedm_legacy_dev,
        ]
        include:
          - environment-file: py312_pmedm_legacy_latest
            os: macos-latest  # Apple Silicon
      fail-fast: false

    defaults:
      run:
        shell: bash -l {0}

    steps:
      - name: checkout repo
        uses: actions/checkout@v6
        with:
          fetch-depth: 0  # Fetch all history for all branches and tags.

      - name: setup micromamba
        uses: mamba-org/setup-micromamba@v2
        with:
          environment-file: .ci/${{ matrix.environment-file }}.yaml
          micromamba-version: "latest"

      - name: requirements from R via source # see org-level Actions -> Variables
        run: |
          ${{ vars.R_REQS }}
      
      - name: install package
        run: "pip install -e . --no-deps --no-cache-dir"

      - name: run tests
        run: |
          pytest \
          pmedm_legacy/ \
          --verbose \
          -r a \
          --numprocesses logical \
          --color yes \
          --cov pmedm_legacy \
          --cov-append \
          --cov-report term-missing \
          --cov-report xml . \
          --env ${{ matrix.environment-file }} \
          --local False

      - name: codecov
        uses: codecov/codecov-action@v5
        with:
          token: ${{ secrets.CODECOV_TOKEN }}
